[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
addict = "*"
gradio = "*"
huggingface-hub = "*"
matplotlib = "*"
numpy = "*"
onnxruntime = "*"
opencv-python = "*"
pillow = "*"
pycocotools = "*"
pyyaml = "*"
requests = "*"
supervision = "*"
termcolor = "*"
timm = "*"
torch = ">=1.7"
torchvision = ">=0.8"
transformers = "*"
yapf = "*"
nltk = "*"
fairscale = "*"
segment-anything = {path = "./segment_anything"}
groundingdino = {path = "./GroundingDINO"}
diffusers = {extras = ["torch"], version = "*"}
onnx = "*"
ipykernel = "*"
empy = "*"
rospkg = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
